
	body {
		background-color:powderblue;
	}
			
	.img-circle {
		margin: 0 auto;
	}
	
	.title {
		font-family: cursive;
		text-align: center;
	}

	.info {
		font-family: cursive;
		text-align: center;
	}

	.band {
		font-style: italic;
	}
	
	.tracks {
		font-style: italic;
		text-align: center;
		padding: 2px;
		margin: 0 auto;
	}

	tbody tr:nth-child(even) {
		background-color: #F9C;
	}
	
	tbody tr:nth-child(odd) {
		background-color: #F08;
	}
	