@font-face { font-family: halflings;
			 src: url(fonts/glyphicons-halflings-regular.woff); } 

h1.rest { text-align: center;
      font-family: 'Bradley Hand ITC', cursive; 
	font-size: 55px;
	color: #3F3; }

#page { background-color: #6BA; }

#menu { width: 100%;
	background-color: #FF2;}
	
.item {text-align:center; }

#drinks { style: 0;
	   width: 150px;
	   margin-left: auto;
	   margin-right: auto; }

#thirst { style: 0;
	   height: 150px;	   
	   width: 100%;
	   background-color: #FF2;
	   margin-left: auto;
	   margin-right: auto; }

#questions {style: 0; 
		width: 40%; 
		align: 0 auto; }

#street { text-align: center; }

#phone { text-align: center; }