h1 { text-align: center;
      font-family: 'Bradley Hand ITC', cursive; 
	font-size: 55px;
	color: #3F3; }

#links { style: 0; width: 25%; }

#page { background-color: #6BA; }

#menu { background-color: #FF2;}

#questions {style: 0; 
		width: 40%; 
		align: 0 auto; }

#street { text-align: center; }

#phone { text-align: center; }