
	body {
		background-color:powderblue;
	}
	.cover {
		width: 400px; 
                height: 400px;   
		margin: 0 auto;
		background-image: url("http://i.imgur.com/jqfxd2E.jpg");
		background-size: 400px 400px; 
	}
		
	.title {
		font-family: cursive;
		text-align: center;
	}

	.info {
		text-align: center;
	}

	.band {
		font-style: italic;
	}
	
	tbody td {
		font-style: italic;
	}
